<section class="section default">
    <div class="columns is-mobile is-multiline is-centered">
        <% @pets.each do | pet | %>
            <div class="column is-narrow profile-card">
                <%= image_tag(pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                <p><%= link_to pet.name, pet_path(pet.id) %></p>
            </div>
        <% end %>
    </div>
</section>