article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/grass.webp');
    background-size: cover;
    background-attachment: fixed;
}

.section {
    width: 75%;
    margin: 0 auto;
    background-color: #EBEBEB;
    box-shadow: 0px 0px 20px 0px #000000; 
}

/* Formats page to work with navbar/footer */
.default {
    min-height: 620px;
}

.center-content {
    text-align: center;
}

.small-font {
    font-size: 12px;
}

/* --------- NAV BAR --------- */

.navbar {
    box-shadow: 0px 0px 10px 0px #CDCDCD;
    font-weight: 600;
}

/* --------- USER PROFILE PAGE --------- */

.profile-about {
    padding: 20px;
}

/* --------- FORMS --------- */

.form-width {
    padding: 0px 250px;
}


/* --------- FLASH ERROR MESSAGES --------- */

.flash {
        margin-top: 5px;
        z-index: 100;
        width: 600px;
        padding: 5px;
        font-weight: bold;
        background:#ddd;
        color:#666;
        border:1px solid #ccc;
        text-align: center;
        align-content: center;
        position: fixed;
        font-size: 13px;
        left: 27%;
}

.notice {
    background:#D9EDF7;
    color:#3A87AD;
    border:1px solid #BCE8F1;
  }

  .alert {
    background:#F2DEDE;
    color:#B94A48;
    border:1px solid #EED3D7;
  }

.branding {
    clear: both;
}

.profile-card {
    border: 1px solid red;
    border-radius: 10px;
    background: #E4FDE1;
    padding: 20px;
    width: 280px;
    height: 350px;
    margin: 10px;
    text-align: center;
}

.card-img {
    border-radius: 10px;
    min-width: 150px;
    min-height: 120px;
    max-height: 200px;
    
}

/* FOOTER */

footer.branding {
    background: #000000;
    padding: 70px 60px 60px 60px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.button-spacing {
    margin: 5px;
}