<section class="section default">
    <div class="center-content">
        <h2 class="title is-2">Invite <%= @recipient.name.capitalize %> to a Playdate</h2>
        <%= image_tag(@recipient.avatar, style: "max-width: 200px") %>
    </div>
    <br>

    <%= render 'form' %>
</section>