<section class="section default">
    <% if @events.empty? %>
         <h2 class="title is-2">No Past Events</h2>
    <% end %>
    <% @events.each do | event | %>
        <div class="center-content">
            <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
            <p>Playdate with <%= event.host_pet.name %> and <%= event.pets.first.name %></p>
        </div>
        <div class="center-content">
            <%= link_to "View", event_path(event), class: "button is-success is-small is-light" %>
        </div>
        <br>
    <% end %>
</section>