<section class="section default">
    <% if @events.empty? %>
        <h1>No pending invitations.</h1>
    <% end %>
    <% @events.each do | event | %>
        <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
        <p>Playdate with <%= event.host_pet.name %> and <%= event.pets.first.name %></p>
        <%= link_to "Cancel Invite", event_path(event), method: :delete %>
    <% end %>
</section>