<section class="index-page">
    <div class="top-banner">
        <div class="logo-box">
            <img src="logo.png">
        </div>
    </div>
    <h1 class="title is-1">Is Your Dog Looking For A New Friend?</h1>
    <div class="index-element">
        <img src="dog-profile.jpeg">
        <p>Create a profile for you and your dogs</p>
    </div>
    <div class="index-element">
        <img src="dog-owner.jpg">
        <h3>Scout out Dogs and Connect with Dog Owners</h3>
    </div>
    <div class="index-element">
        <img src="dog-playing.jpeg">
        <h3>Schedule Playdates</h3>
    </div>
</section>