<section class="index-page">
    <div class="top-banner">
        <div class="logo-box">
            <img src="logo.png">
        </div>
    </div>
    <h1 class="title is-1">Is Your Dog Looking For A New Friend?</h1>
    <div class="index-element">
        <img src="dog-profile.jpeg">
        <h5 class="subtitle is-5">Create a profile for you and your dogs</h5>
    </div>
    <div class="index-element">
        <img src="dog-owner.jpg">
        <h5 class="subtitle is-5">Scout out Dogs and Connect with Dog Owners</h5>
    </div>
    <div class="index-element">
        <img src="dog-playing.jpeg">
        <h5 class="subtitle is-5">Schedule Playdates</h5>
    </div>
</section>